# ==========================================
# CONFIGURAÇÕES DE AMBIENTE TESTE E EXECUÇÃO
# ==========================================

# ==========================================
# AMBIENTE DE EXECUÇÃO PARA TESTE
# ==========================================

MODO_TESTE="True"
DIR_TESTE_LOCAL="C:\Caminho\Para\Sua\Pasta\De\Testes_Local"
DIR_TESTE_REDE="C:\Caminho\Para\Sua\Pasta\De\Testes_RedeFake"

# ==========================================
# CAMINHOS OFICIAIS PARA EXECUÇÃO
# ==========================================

# Caminho base do projeto na sua máquina local (Raiz da pasta 'Codigo')
# Ex: C:\Users\SeuUsuario\Documentos\CMTT\Codigo

BASE_DIR_PROJETO="C:\Caminho\Para\O\Seu\Repositorio\Codigo"

# Caminho para a rede interna da secretaria (Caso aplicável para backup/raspagem dupla)
# Ex: Z:\PASTACOMPARTILHADA - Documentos\03_b_Conselho_Municipal_de_Transito_e_Transporte_CMTT

DIR_REDE_INTERNA="C:\Caminho\Para\A\Rede\Interna"

# ==========================================
# VARIÁVEIS DE NUVEM (GitHub e App)
# ==========================================

SENHA_ADMIN_APP="sua_senha_aqui"
GITHUB_USUARIO="seu_usuario"
GITHUB_REPO="seu_repositorio"
GITHUB_BRANCH="main"

# ==========================================
# BANCO DE DADOS NA NUVEM (Supabase - Session pooler)
# ==========================================
DATABASE_URL="postgresql://postgres.SEU_PROJETO:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"